# Welcome to Serverless!
#
# This file is the main config file for wecabs service.

# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: wecabs
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

frameworkVersion: '2'


provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-west-2
  environment:
    USER_TABLE: ${self:service}-${opt:stage, self:provider.stage}-USER_TABLE
    BOOKING_TABLE: ${self:service}-${opt:stage, self:provider.stage}-BOOKING_TABLE
    BID_TABLE: ${self:service}-${opt:stage, self:provider.stage}-BID_TABLE

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource: "*"
functions:

 # user api functions

  userPut:
    handler: api/user.put
    memorySize: 128
    description: put user details
    events:
      - http:
          path: user
          method: post
          cors: true
  userGet:
    handler: api/user.get
    events:
      - http:
          path: user/{email}
          method: get
          cors: true

  userList:
    handler: api/user.list
    memorySize: 128
    description: list all users details
    events:
      - http:
          path: user
          method: get
          cors: true

  # booking api functions

  bookingPut:
    handler: api/booking.put
    memorySize: 128
    description: put booking details
    events:
      - http:
          path: booking
          method: post
          cors: true

  bookingGet:
    handler: api/booking.get
    events:
      - http:
          path: booking/{bookingId}
          method: get
          cors: true

  bookingList:
    handler: api/booking.list
    memorySize: 128
    description: list all bookings details
    events:
      - http:
          path: booking
          method: get
          cors: true

  # bid api functions

  bidPut:
    handler: api/bid.put
    memorySize: 128
    description: put bid details
    events:
      - http:
          path: bid
          method: post
          cors: true

  bidGet:
    handler: api/bid.get
    events:
      - http:
          path: bid/{bidId}
          method: get
          cors: true

  bidList:
    handler: api/bid.list
    memorySize: 128
    description: list all bids details
    events:
      - http:
          path: bid
          method: get
          cors: true

resources:
  Resources:
    UserDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "email"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "email"
            KeyType: "HASH"
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: "NEW_AND_OLD_IMAGES"
        TableName: ${self:provider.environment.USER_TABLE}

    BookingDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "bookingId"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "bookingId"
            KeyType: "HASH"
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: "NEW_AND_OLD_IMAGES"
        TableName: ${self:provider.environment.BOOKING_TABLE}

    BidDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "bidId"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "bidId"
            KeyType: "HASH"
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: "NEW_AND_OLD_IMAGES"
        TableName: ${self:provider.environment.BID_TABLE}
